@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
    color: white;
    padding: 10px;
    font-weight: 600px;
}
a{
    text-decoration: none;
    color: white;
    z-index: 1;
}

.container{
    margin: 0px auto;
    height: 100%;
    width: 80%;
}

/* Header */

header{
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: #000;
    height: 70px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo{
    width: 12%;
    height: 50px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: 150px;
}

.navigacija{
    width: 45%;
}

.navigacija nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li a{
    text-transform: uppercase;
    font-size: 13px;
}

/* Video i tekst u njemu */

video{
    margin-top: -300px;
}

.centralni{
    /* border: 5px solid red; */
    height: 783px;
    position: absolute;
    top: 0px;
    left: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.levo{
    width: 60%;
}
.tekst1{
    margin-top: 707px;
}

.desno{
    width: 40%;
    height: 70px;
    /* border: 5px solid red; */
    background-color: #373E47;
    border-radius: 25px 25px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* margin-right: 30px; */
}

.slika{
    background-image: url("../img/logo.png");
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
}
.naslov{
    font-size: 56px;
    font-weight:800;
    font-style: normal;
    text-align:left;
    color: white;
}

/* Sekcija 1 - Paketi */
.paketi{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.kartica{
    /* border: 5px solid red; */
    display: block;
    width: 25%;
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8)
}

.kartica h3{
    height: 70px;
    border-radius: 25px 25px 0 0;
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
    color: white;
}

.kartica:first-child h3{
    background-color: #009DF4;
}
.kartica:nth-child(2) h3{
    background-color: #F8A01A;
}
.kartica:last-child h3{
    background-color: #E84390;
}

.kartica>*{
    padding:30px;
}
.kartica>h4{
    font-size: 24px;
    font-weight: 100;
}
.kartica>h2{
    font-size: 48px;
}

.cenovnik{
    width: 30%;
    background-color: #21AE50;
    margin: 20px auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}


/* Sekcija 2 */

.section2{
    height: 300px;
    width: 100%;
    background-color: #0083CB;
}

.loyalty{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    color: white;
}
.levels{
    width: 90%;
    text-align: center;
}
.levels h3{
    font-size: 48px;
    border-bottom: 7px solid white;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 40px;
    padding: 15px;
}
.levels p{
    width: 60%;
    margin: 0px auto;
    font-size: 20px;
    font-size:22px;
    text-align:left;
    line-height:33px;
}

.vezbac{
    background: url("../img/vezbac.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Sekcija 3 */
.section3{
    margin-top: 150px;
    background-image: url("../img/nsf.jpg");
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nsf{
    width: 60%;
    height: 70%;
    color: white;
}

.nsf h3{
    font-weight:700px;
    font-size: 48px;
    border-bottom: 7px solid white;
    width: 30%;
    margin-bottom: 50px;
    padding: 15px;
}
.nsf p{
    font-weight:400;
    font-style:normal;
    font-size:22px;
    text-align:left;
    line-height:33px;
}

.stores{
    margin-top: 70px;
    width: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.store{
    height: 50px;
    width: 150px;
    background-repeat: no-repeat;
}
.play{
    background-image: url("../img/google-play-badge-EN-1.png");
}
.apple{
    background-image: url("../img/app-store-badge-EN.png");
}
.huawei{
    background-image: url("../img/20200220_AppGallery_Badge_Black-1.png");
}

/* Sekcija 4 */

.section4{
    width: 100%;
    background-color: #373E47;
    color: white;
}

.sekcije{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 30px;
    padding: 20px;
    height: 500px;
    margin-top: 0px;
}

.komb{
    height: 100%;
    width: 45%;
}

.komb>h3{
    font-size: 48px;
    padding: 0 15px 15px 0px;
}
.komb>p{
    font-size: 24px;
}

.slicica{
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    }
.slicica1{
    background-image: url("../img/lokacije/NSF-lokacije-Aviv-Park.jpg");
}
.slicica2{
    background-image: url("../img/lokacije/grupni.jpg");
}
.slicica3{
    background-image: url("../img/lokacije/personalni.jpg");
}
.slicica4{
    background-image: url("../img/lokacije/zenskazona.jpg");
}



.okvir{
    border-top: 7px solid white;
    margin-bottom: 40px;
}

#ok1{
    width: 30%;
}
#ok2{
    width: 55%;
}
#ok3{
    width: 65%;
}
#ok4{
    width: 45%;
}

.logic{
    height: 25%;
    background-repeat: no-repeat;
    align-items: center;
}

#logo1{
    background-image: url("../img/logoi/logolokacije.png");
}
#logo2{
    background-image: url("../img/logoi/logogrupni.png");
}
#logo3{
    background-image: url("../img/logoi/logopersonalni.png");
}
#logo4{
    background-image: url("../img/logoi/logozenska.png");
}

.dugme{
    border: 2px solid green;
    width: 34%;
    text-align: center;
    background-color: #41CD70;
    padding: 10px;
    border-radius: 10px;
    margin-top: 80px;
}

.dugme:hover{
    background-color: #21AE50;
}


span{
    text-transform: uppercase;
}

/* Sekcija 5 */
.section5{
    margin-top: -30px;
    background-color: #F5F5F5;
    padding: 40px;
}
.covid{
    margin: 0px auto;
    text-align: center;
}
.covid h4{
    font-size: 24px;
    font-weight: 100px;
}
.dugmecovid{
    margin: 0px auto;
    width: 20%;
    margin-top: 70px;
}

.aplikacija{
    width: 60%;
    margin: 70px auto;
}
.gornji{
        display: flex;
        justify-content: space-evenly;
}

.aplikacijaLogo{
    width: 30%;
    height: 150px;
    background-image: url("../img/logoi/aplikacija.png");
    background-repeat: no-repeat;
    background-size: 150px;
}
.appText{
    width: 70%;
    text-align: left;
}

.appText h5{
    color: #0083C9;
    font-size:24px;
    margin-bottom: 20px;
}
.appText p{
    font-size: 20px;
    margin-bottom: 10px;
}

.appText span{
    text-transform: initial;
}
.donji{
    /* border: 4px solid black; */
    width: 100%;
    margin: 80px auto;
}

/* Sekcija 6 */
.section6{
    height: 450px;
    background-color: #262626;
    color: white;
}
.sekcijaKartice{
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.sekcijaKartice h6{
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}
.kartice{
    width: 33%;
    margin-right: 40px;
}
.iconList{
    display: flex;
    padding: 10px;
}
i{
    color: #0083C9;
}
.iconList > *{
    margin: 5px;
}
.iconList a{
    color: white;
}


.spanText{
    color: #0083C9;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.kartice > span{
    color:#0083C9;
}

/* Footer */

footer{
    height: 90px;
    background-color: #1B1B1B;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}
.bottom{
    width: 33%;
    text-align: center;
}

.bottomCards{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    margin: 10px;
    width: 60px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card1{
    background-image: url("../img/cards/maestro.png");
}
.card2{
    background-image: url("../img/cards/master-card.png");
}
.card3{
    background-image: url("../img/cards/visa.png");
}
.card4{
    background-image: url("../img/cards/dina-card.jpg");
}



/* LOKACIJE */
.lok{
    height: 30%;
}

.lokacije{
    padding-top: 70px;
    background-image: url("../img/Non-stop-fitness-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    display: flex;
    align-items: flex-end;
}
.lok>h3, .lok p{
    color: black;
    border-color: black;
}
/* Galerija */
.galerija{
    height: 1500px;
    background-color: #373E47;
    padding-top: 50px;
}
.mesta{
    display: flex;
    width: 60%;
    color: white;
}

.mesto{
    width: 100%;
    /* border: 3px solid gold; */
    margin: 5px;
}
.mestaGore{
    width: 100%;
}
.mestaDole{
    width: 100%;
}

.mesto h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
}


.galerijaSlika1{
    height: 350px;
    background-image: url("../img/lokacije/NSF-lokacije-Autokomanda-pgrzsh1my7wdlvqrhu16vi38t1kv0kzq4q5bexuh2k.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Cenovnik */

.cen{
    background: url("../img/cenovnik-header-picture-1920.jpg");
    height: 380px;
    background-repeat: no-repeat;
}

.ceno{
    color: black;
}
.ceno h3{
    color: black;
    border-color: black;
}

/* loyalty levels */

.loyaltyLevels{
    margin-top: 80px;
    height: 1200px;
    background-color: #4A4A4A;
}
.ll{
    width: 90%;
}
.ll>h3, .ll{
    color: white;
    border-color: white;
}
.mark{
    display: flex;
}
.munja{
    width: 10%;
    height: 200px;
    background: url("../img/grom.png");
    background-position: center;
    background-repeat: no-repeat;
}

.yt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}